In [38]:
##make a list
MyList=[3, 2.44, "green", True]

In [14]:
for element in range(0,4):
    print(type(MyList[element]))
    
## can also just do

for element in MyList:
    print(type(element))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [8]:
#Boolean example
xx="red"
yy="red"

xx == yy

True

In [15]:
print(34.0==34)

thirtyfour="34"
34==thirtyfour

True

False

In [26]:
print(type(range(len(MyList))))

for index in range(len(MyList)):
    print(type(MyList[index]))

<class 'range'>
<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [29]:
MyList[1:2]

[2.44]

In [31]:
MyList[0:3]

[3, 2.44, 'green']

In [33]:
MyList[0:-1]

[3, 2.44, 'green']

In [39]:
list2=MyList.copy()
list3=list2

In [40]:
MyList.clear()

In [41]:
MyList

[]

In [42]:
list2

[3, 2.44, 'green', True]

In [43]:
list3.pop()

True

In [44]:
list3

[3, 2.44, 'green']

In [45]:
list2

[3, 2.44, 'green']

In [46]:
zz="dinosaur"
list2.append(zz)

In [47]:
list2

[3, 2.44, 'green', 'dinosaur']

In [53]:
MyList=[3,2.44, "green", True, "dinosaur"]

list2=["2", "two", 2]

In [50]:
MyList.append(list2)

In [54]:
MyList.extend(list2)

In [55]:
MyList

[3, 2.44, 'green', True, 'dinosaur', '2', 'two', 2]

In [61]:
##creating dictionaries
my_dict={}
my_dict={"dinosar":1000, "dog": 10, "cat":5, "parrot":2}
my_dict

{'cat': 5, 'dinosar': 1000, 'dog': 10, 'parrot': 2}